# Demographic health data

Imported Libraries

In [ ]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import json
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import f_classif, SelectKBest
from pickle import dump
import warnings

def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn # ignore annoying warning (from sklearn and seaborn)

pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points
'''NOTE: This affects only the display and not the underlying data, which remains unchanged.'''

## Step 1: Problem statement and data collection

In [15]:
df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv")

df.head(3)

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.207,7637,13.735,6878,12.370,7089,12.750,...,3644,12.900,11.900,13.800,5462,3.100,2.900,3.300,1326,3
1,1003,218022,24757,11.355,26913,12.344,23579,10.815,25213,11.564,...,14692,12.000,11.000,13.100,20520,3.200,3.000,3.500,5479,4
2,1005,24881,2732,10.980,2960,11.897,3268,13.135,3201,12.865,...,2373,19.700,18.600,20.600,3870,4.500,4.200,4.800,887,6

**Description and types of Data**

## Step 2: Exploration and data cleaning
- ### 2.1 Summarize DF

In [16]:
# Obtain dimensions

rows, columns = df.shape

print(f"The dimensions of this dataset are: {rows} Rows and {columns} Columns")

The dimensions of this dataset are: 3140 Rows and 108 Columns

In [13]:
# Obtain information about data types and non-null values

df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 108 columns):
 #    Column                                                                         Dtype
---   ------                                                                         -----
 0    fips                                                                           int64
 1    TOT_POP                                                                        int64
 2    0-9                                                                            int64
 3    0-9 y/o % of total pop                                                         float64
 4    19-Oct                                                                         int64
 5    10-19 y/o % of total pop                                                       float64
 6    20-29                                                                          int64
 7    20-29 y/o % of total pop                                                       float64
 8    30-39                                                                          int64
 9    30-39 y/o % of total pop                                                       float64
 10   40-49                                                                          int64
 11   40-49 y/o % of total pop                                                       float64
 12   50-59                                                                          int64
 13   50-59 y/o % of total pop                                                       float64
 14   60-69                                                                          int64
 15   60-69 y/o % of total pop                                                       float64
 16   70-79                                                                          int64
 17   70-79 y/o % of total pop                                                       float64
 18   80+                                                                            int64
 19   80+ y/o % of total pop                                                         float64
 20   White-alone pop                                                                int64
 21   % White-alone                                                                  float64
 22   Black-alone pop                                                                int64
 23   % Black-alone                                                                  float64
 24   Native American/American Indian-alone pop                                      int64
 25   % NA/AI-alone                                                                  float64
 26   Asian-alone pop                                                                int64
 27   % Asian-alone                                                                  float64
 28   Hawaiian/Pacific Islander-alone pop                                            int64
 29   % Hawaiian/PI-alone                                                            float64
 30   Two or more races pop                                                          int64
 31   % Two or more races                                                            float64
 32   POP_ESTIMATE_2018                                                              int64
 33   N_POP_CHG_2018                                                                 int64
 34   GQ_ESTIMATES_2018                                                              int64
 35   R_birth_2018                                                                   float64
 36   R_death_2018                                                                   float64
 37   R_NATURAL_INC_2018                                                             float64
 38   R_INTERNATIONAL_MIG_2018                                                       float64
 39   R_DOMESTIC_MIG_2018                                                            float64
 40   R_NET_MIG_2018                                                                 float64
 41   Less than a high school diploma 2014-18                                        int64
 42   High school diploma only 2014-18                                               int64
 43   Some college or associate's degree 2014-18                                     int64
 44   Bachelor's degree or higher 2014-18                                            int64
 45   Percent of adults with less than a high school diploma 2014-18                 float64
 46   Percent of adults with a high school diploma only 2014-18                      float64
 47   Percent of adults completing some college or associate's degree 2014-18        float64
 48   Percent of adults with a bachelor's degree or higher 2014-18                   float64
 49   POVALL_2018                                                                    int64
 50   PCTPOVALL_2018                                                                 float64
 51   PCTPOV017_2018                                                                 float64
 52   PCTPOV517_2018                                                                 float64
 53   MEDHHINC_2018                                                                  int64
 54   CI90LBINC_2018                                                                 int64
 55   CI90UBINC_2018                                                                 int64
 56   Civilian_labor_force_2018                                                      int64
 57   Employed_2018                                                                  int64
 58   Unemployed_2018                                                                int64
 59   Unemployment_rate_2018                                                         float64
 60   Median_Household_Income_2018                                                   int64
 61   Med_HH_Income_Percent_of_State_Total_2018                                      float64
 62   Active Physicians per 100000 Population 2018 (AAMC)                            float64
 63   Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)         float64
 64   Active Primary Care Physicians per 100000 Population 2018 (AAMC)               float64
 65   Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)  float64
 66   Active General Surgeons per 100000 Population 2018 (AAMC)                      float64
 67   Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)         float64
 68   Total nurse practitioners (2019)                                               float64
 69   Total physician assistants (2019)                                              float64
 70   Total Hospitals (2019)                                                         float64
 71   Internal Medicine Primary Care (2019)                                          float64
 72   Family Medicine/General Practice Primary Care (2019)                           float64
 73   Total Specialist Physicians (2019)                                             float64
 74   ICU Beds_x                                                                     int64
 75   Total Population                                                               int64
 76   Population Aged 60+                                                            int64
 77   Percent of Population Aged 60+                                                 float64
 78   COUNTY_NAME                                                                    object
 79   STATE_NAME                                                                     object
 80   STATE_FIPS                                                                     int64
 81   CNTY_FIPS                                                                      int64
 82   county_pop2018_18 and older                                                    int64
 83   anycondition_prevalence                                                        float64
 84   anycondition_Lower 95% CI                                                      float64
 85   anycondition_Upper 95% CI                                                      float64
 86   anycondition_number                                                            int64
 87   Obesity_prevalence                                                             float64
 88   Obesity_Lower 95% CI                                                           float64
 89   Obesity_Upper 95% CI                                                           float64
 90   Obesity_number                                                                 int64
 91   Heart disease_prevalence                                                       float64
 92   Heart disease_Lower 95% CI                                                     float64
 93   Heart disease_Upper 95% CI                                                     float64
 94   Heart disease_number                                                           int64
 95   COPD_prevalence                                                                float64
 96   COPD_Lower 95% CI                                                              float64
 97   COPD_Upper 95% CI                                                              float64
 98   COPD_number                                                                    int64
 99   diabetes_prevalence                                                            float64
 100  diabetes_Lower 95% CI                                                          float64
 101  diabetes_Upper 95% CI                                                          float64
 102  diabetes_number                                                                int64
 103  CKD_prevalence                                                                 float64
 104  CKD_Lower 95% CI                                                               float64
 105  CKD_Upper 95% CI                                                               float64
 106  CKD_number                                                                     int64
 107  Urban_rural_code                                                               int64
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [18]:
# Check null values

null_var = df.isnull().sum().loc[lambda x: x > 0]

num_of_null_var = len(null_var)

print(f"{null_var}\n\nThe number of null variables are {num_of_null_var}")

Series([], dtype: int64)

The number of null variables are 0

- ### 2.2 Eliminate duplicates

In [19]:
# Obtain the number of duplicate values in our dataset

print(f"The number of duplicate values in the dataset is {df.duplicated().sum()}")

The number of duplicate values in the dataset is 0

In [21]:
filt_df = df.copy()

- ### 2.3 Eliminate irrelevant information